html {
    box-sizing: border-box;
    font-size: 14px;
}

body {
    font-family: Verdana;
    /*font-size: 1.6rem;*/
    background-color: white;
}

.textogood {
    /* top: 5%; */
    left: 10%;
    width: 80%;
    margin: auto;
    text-align: left;
    /* padding: 5%; */
}

.identidad {
    margin: auto;
}

.products {
    height: 100px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    /* padding-bottom: 20%; */
    display: inline-flex;
}

.product {
    padding: 5% 5% 0.1% 5%;
    width: 90%
}

.product .content {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 5px #947c7c;
}

.video_content {
    text-align: center;
    padding: 20px;
    padding-right: 50px;
}

.img_content {
    text-align: center;
}

.main_botton {
    background-color: #9CC5F5;
    width: 100%;
    padding: 10px;
    font-size: var(--normal);
    ;
    color: black;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

.main_botton:hover {
    background-color: #0E7AF8;
    box-shadow: 0 0 5px #947c7c;
    color: white;
    transition: all .5s ease-in-out;
}

.main_botton1 {
    background-color: #F2BA01;
    width: 100%;
    padding: 10px;
    font-size: var(--normal);
    ;
    color: black;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

.main_botton1:hover {
    background-color: #ED7203;
    box-shadow: 0 0 5px #947c7c;
    color: white;
    transition: all .5s ease-in-out;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 4%;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: scroll;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 80%;
    overflow: scroll;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
    right: 18%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.imagen-efecto:hover {
    filter: opacity(.5);
}

.column {
    padding: 0px;
    float: left;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    /*padding: 10px;*/
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: white;
}


/* 
//bara fija normal

.navbar {
    overflow: hidden;
    background-color: #F4F6F6;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.navbar a.active {
    background-color: rgb(199, 202, 202);
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    background: rgb(199, 202, 202);
    color: white;
} */

.navbar {
    overflow: hidden;
    background-color: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    /* adicionado */
    width: 100%;
    /* adicionado */
    height: 10%;
    position: fixed;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    margin-top: 10px;
    padding: 14px 16px;
    /* padding-top: ; */
    text-decoration: none;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #FF560A;
    color: white;
}


/* .botonactivo1 {
    background-color: rgb(199, 202, 202);
}

.botonactivo2 {
    color: white;
    font-weight: bold;
} */

.navbar a.active {
    background-color: #FF560A;
    color: white;
    font-weight: bold;
}


/* BOTON AYUDA */


/* .dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    //position: absolute;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
} */

.main {
    background-color: white;
    padding: 16px;
    margin-top: 20px;
    /* height: 1500px; */
    /* Used in this example to enable scrolling */
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/**footer**/

.site-footer {
    /* background-color: #f9f9f9; */
    background-color: #FF560A;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    height: 10%;
}

.site-footer p {
    color: black;
    font-size: 20px;
    /* font-weight: 400; */
    font-family: 'Cormorant Upright', serif;
}

.site-footer p span {
    font-weight: 700;
}


/* @media only screen and (min-width:600px) {
    .site-footer p {
        font-size: 4rem;
    }
} */


/* Globales */

.contenedor {
    /* max-width: 1200px; */
    width: 100%;
    margin: auto;
}


/*utilidades*/

.no-margin {
    margin: 0;
    font-size: 14px;
}